.wishlist-button {
  position: relative;
  padding: 4px;
  margin: 0;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;

  &:hover {
    background-color: var(--secondary-1);
  }

  &:active {
    box-shadow: 0 0 2px 2px var(--button-2-hover);
  }

  &__image {
    max-width: 32px;
    max-height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__label {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 12px;
  }
}
