.message-form {
  &__row {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__textarea {
    resize: none;
  }

  &__button {
    margin-left: auto;
    padding: 16px 48px;
  }
}
