.app-header {
  .top-header {
    background-color: var(--card);
    color: var(--text-1);

    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      padding: 0;
      margin: 0 auto;
    }

    &__link {
      color: inherit;
      margin-left: 8px;
    }

    &__container {
      padding: 12px;
    }

    &__col {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .language-select {
    border: none;
    max-width: 120px;
  }

  .header-body {
    padding: 16px;
    padding-top: 40px;
    border-bottom: 1px solid var(--secondary-2);

    &__col {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }

    &__nav {
      flex: 1 0 auto;
      max-width: 370px;
    }

    &__actions-block {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}
