.proceed-checkout-page {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex: 1 0 auto;

  &__title {
    font-size: 110px;
    font-weight: 400;
    text-align: center;
  }
}
