.categories-list {
  max-height: 345px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    padding: 0;
    margin-bottom: 4px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__link.btn {
    display: inline-block;
    width: 100%;
    text-align: start;
    text-decoration: none;
    font-size: 16px;
    color: var(--primary-2);
  }
}
