.categories-list {
  width: 100%;
  max-height: 345px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    padding: 0;
    margin-bottom: 4px;

    &:first-of-type .btn {
      font-weight: 700;

      &:not(.categories-list__link_active) {
        color: var(--text-2);
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__link.btn {
    display: inline-block;
    width: 100%;
    text-align: start;
    text-decoration: none;
    font-size: 16px;
    color: var(--primary-2);
  }

  &__link_active.btn {
    color: var(--secondary-3);
  }
}
