.cart-products-table {
  border-collapse: separate;
  border-spacing: 0 40px;
  margin-bottom: -40px;
  margin-top: -40px;
  width: 100%;

  &__cell {
    padding: 24px;
    width: 20%;
    margin-bottom: 40px;

    &:first-of-type {
      width: 40%;
      padding-left: 40px;
    }

    &:last-of-type {
      padding-right: 40px;
    }

    &_head {
      padding-top: 14px;
      padding-bottom: 14px;
      font-weight: 700;
      font-size: 18px;
      color: var(--text-2);
    }
  }

  &__row {
    border-radius: 6px;
    box-shadow: var(--shadow) 0px 4px 12px;

    &:hover {
      .cart-products-table__remove-button {
        visibility: visible;
      }
    }
  }

  .cell-text {
    font-size: 16px;
    font-weight: 600;
  }

  .flex-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__remove-button {
    visibility: hidden;
    outline: none;
    border: none;
    padding: 12px;
    margin: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-3);
    cursor: pointer;

    &:hover {
      box-shadow: var(--secondary-3) 0 0 4px 0px;
    }
  }

  .number-input {
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--card);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    max-width: 100px;
    overflow-x: auto;
  }
}
