.products-list {
  padding: 32px 0;
  position: relative;

  &__header {
    position: relative;
    margin-bottom: 60px;
  }

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      color: var(--secondary-3);
      margin: 0;
    }
  }

  .block-label {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;

    &__rect {
      height: 40px;
      width: 20px;
      border-radius: 4px;
      background-color: var(--secondary-3);
    }

    &__title {
      margin: 0;
      font-size: 16px;
      color: var(--secondary-3);
    }
  }

  &__grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 60px;
  }

  &__footer {
    margin-top: 24px;

    .fetch-more-btn {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__footer-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
