.app-header {
  .top-header {
    background-color: var(--card);
    color: var(--text-1);

    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      padding: 0;
      margin: 0 auto;
    }

    &__link {
      color: inherit;
      margin-left: 8px;
    }

    &__container {
      padding: 12px;
    }

    &__col {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .language-select {
    border: none;
    max-width: 120px;
  }

  .header-body {
    padding: 16px;
    padding-top: 40px;
    border-bottom: 1px solid var(--secondary-2);

    &__col {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }

    &__nav {
      flex: 1 0 auto;
      max-width: 370px;
    }

    &__actions-block {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .action-button {
      position: relative;
      padding: 4px;
      margin: 0;
      border-radius: 50%;
      border: none;
      outline: none;
      background-color: transparent;

      &:hover {
        background-color: var(--secondary-1);
      }

      &:active {
        box-shadow: 0 0 2px 2px var(--button-2-hover);
      }

      &__image {
        max-width: 32px;
        max-height: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &__label {
        position: absolute;
        top: -5px;
        right: -5px;
        font-size: 12px;
      }
    }
  }
}
