.product-full-card {
  &__row {
    display: flex;
    gap: 70px;
  }

  &__col {
    padding: 0;
  }

  &__spinner-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-details {
    margin-bottom: 24px;
  }

  .product-actions {
    margin-bottom: 40px;
  }
}
