.app-round-button {
  outline: none;
  border: none;
  padding: 5px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-1);
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 3px 1px var(--primary-1);
  }

  &:active {
    background-color: var(--secondary-1);
  }
}
