:root[data-theme="theme-light"] {
  --primary-1: #ffffff;
  --primary-2: #363738;
  --secondary-1: #fefaf1;
  --secondary-2: #f5f5f5;
  --secondary-3: #db4444;
  --text-1: #fafafa;
  --text-2: #7d8184;
  --text-3: #000000;
  --button-1: #00ff66;
  --button-2: #db4444;
  --button-1-hover: #e07575;
  --button-2-hover: #a0bce0;
  --background: #ffffff;
}

// :root[data-theme='theme-dark'] {}
